[Desktop Entry]
Version=1.0
Type=Application
Name=DataGrip
Icon=/home/user/.local/share/JetBrains/Toolbox/apps/datagrip/ch-0/172.4574.13/.icon.svg
Exec="/home/user/.local/share/JetBrains/Toolbox/apps/datagrip/ch-0/172.4574.13/bin/datagrip.sh" %f
Comment=Many databases, one tool
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-datagrip
X-XFCE-Source=file:///home/user/.local/share/applications/jetbrains-datagrip.desktop
